@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Nunito&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.flex{
    display: flex;
    align-items: center;
}
.main-nav{
    justify-content: space-around;
    padding: 8px 0;
    cursor: pointer;
    background-color: #e8f5e9;
    position: relative;
    z-index: 99;
}
.myLogo img{
    width: 10px;
}
.main-nav img{
    width: 180px;
    margin-left: -180px;
}
.nav-links ul{
    margin-left: 220px;
    gap: 76px;
    font-weight: 700;
}
.hover-links{
    cursor: pointer;
}
li a{
    text-decoration: none;
    color: black;
}
li{
    position: relative;
    text-decoration: none;
    letter-spacing: 0.5px;
    padding: 0px 10px;
}
li:after{
    content: "";
    position: absolute;
    background-color: red;
    height: 3px;
    width: 0px;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    
}
li:hover:after{
    width: 100%;
}
li a:hover{
    color: #0066cc;
}
#myImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
}
#main{
    position: relative;
    background-color: rgba(0,0,0,0.55);
}
#page1{
    height: 100vh;
    width: 100vw;
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#page1 h1{
    font-family: 'Alegreya', serif;
    font-family: 'Croissant One', cursive;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#page1 h1 .word2{
    color: rgb(255, 208, 0);
}
#page1 p{
    font-family: 'Alegreya', serif;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    width: 60%;
    color: antiquewhite;
    
}

